
<% @user.posts.each do |post| %>
  <ul class="circle">
  <li><%= link_to post.title, user_post_path(@user, post), :class => "redHover"%></li>
  <div id="body-<%= post.id %>"><%= truncate post.content %></div>
  <button class="js-more" data-id="<%= post.id %>">More...</button>
  </ul>
<% end %>