<h1><%if @user.name != nil %><%=@user.name%><%else%><%=@user.email%><%end%> Blog Posts:</h1>

  <%= render partial: "post", locals: {post: @post} %>
 
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").click(function() {

    var id = $(this).data("id");
    $.get("/posts/" + id + "/body", function(data) {
      $('#body-' + id).text(data);
    });
  });
});
</script>
