/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*    NAV BAR        */

 .btn-primary:hover {
  background-color: red;
  font-size: 15px;
 }

 .btn-danger {
  font-size: 30px;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  padding: 2px;
 }

 .js-more:hover {
  background-color: green;
 }
 
#navbar {


background: #4B79A1; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
height: 100px;

/*font-size: 25px;*/


display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
      
}

/*.nav_btn {
  border: 2px solid;
  border-radius: 2px;
  padding: 2px;
  text-decoration: none;
  color: navy;
}

.nav_btn:hover {
        background-color: #134E5E;
        background-color:#71B280;
}*/

/*   END NAV BAR   */

body {
  background-color: 

background: #757F9A; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

/* Index Page List */

.circle {
  list-style-type: circle;
  text-decoration: none;
}

.catList {
  font-size: 14px;
}

.noUnd {
  text-decoration: none;
}

/* Index Page list hover color */

.redHover:hover {
  color: #EB3349;
}

/*  Create New Blog Post content box */

.content_box {
  background-color: #eef2f3;
  color: black;
  border: 2px solid #948E99;
}


/*  Admin Only Links   */
.adminLink:hover {
  color: green;
}


/*   Load More List    */

#myList li{
  display: none;
}

/*#loadMore {
  color: black;
  cursor: pointer;
  border: 2px solid black;
  display: inline-block;
  font-size: 25px;
  border-radius: 6px;
  padding: 2px;
  background-color: #83a4d4;
}

#loadMore:hover {
  color: red;
}*/

/*    ALL POSTS TABLE   */

.allPostsTable {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.allPostsTable table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;

}

.allPostsTable tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.allPostsTable table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.allPostsTable table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}
.allPostsTable tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}
.allPostsTable tr:hover td {
  color: red;
}

.green:hover {
  color: #0000ff;
}

.allPostsTable tr:nth-child(odd) { 
  background-color:#e5e5e5; 
}
.allPostsTable tr:nth-child(even) { 
  background-color:#ffffff; 
  }
  .allPostsTable td {
  vertical-align:middle;
  
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align: center;
  padding:7px;
  font-size:16px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
  line-height: 40px;
}


/* ALL POSTS TABLE END  */


.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}













